
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>小说大全_全部小说目录大全_{?$jieqi_sitename?}</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta name="keywords" content="小说大全" />
<meta name="description" content="{?$jieqi_sitename?}是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<link rel="stylesheet" type="text/css" href="{?$jieqi_url?}/images/biquge.css"/>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<!--<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>-->
<script type="text/javascript" src="{?$jieqi_url?}/images/bqg.js"></script>
</head>
<body>
	<div id="wrapper">
		{?include file = "17mb/head.html"?}
<div class="MessageDiv">
<b>提示：本站收录的全部小说均在此页， 推荐使用Ctrl+F 来查找小说。</b>
</div>
<div id="main">
<div class="novellist">
<h2>奇幻、玄幻小说大全列表</h2>
<ul>
 {?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="" vars="postdate,500,1,0,0,0" template="52mb_daquan.html" contenttype="2" custom="0" publish="3" hasvars="1"?}
</ul></div>
<div class="clear"></div>

<div class="novellist">
<h2>武侠、仙侠、修真小说大全列表</h2>
<ul>
 {?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="" vars="postdate,500,2,0,0,0" template="52mb_daquan.html" contenttype="2" custom="0" publish="3" hasvars="1"?}
</ul></div>
<div class="clear"></div>

<div class="novellist">
<h2>言情、都市小说大全列表</h2>
<ul>
 {?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="" vars="postdate,500,3,0,0,0" template="52mb_daquan.html" contenttype="2" custom="0" publish="3" hasvars="1"?}
</ul></div>
<div class="clear"></div>

<div class="novellist">
<h2>历史、军事、穿越小说大全列表</h2>
<ul>
 {?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="" vars="postdate,500,4,0,0,0" template="52mb_daquan.html" contenttype="2" custom="0" publish="3" hasvars="1"?}
</ul></div>
<div class="clear"></div>

<div class="novellist">
<h2>游戏、竞技、网游小说大全列表</h2>
<ul>
 {?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="" vars="postdate,500,5,0,0,0" template="52mb_daquan.html" contenttype="2" custom="0" publish="3" hasvars="1"?}
</ul></div>
<div class="clear"></div>

<div class="novellist">
<h2>异灵、科幻小说大全列表</h2>
<ul>
 {?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="" vars="postdate,500,6,0,0,0" template="52mb_daquan.html" contenttype="2" custom="0" publish="3" hasvars="1"?}
</ul></div>
<div class="clear"></div>
</div>
		 {?include file = "17mb/foot.html"?}
	</div>
</body>
<script charset="gbk" src="http://www.baidu.com/js/opensug.js"></script>
</html>